#header {
    width: 100%;

    background-color: #ffe9e5;

    padding-top: 15px;
    padding-left: 12px;
    padding-bottom: 7px;
}

#nomeSito {
    font-size: 20px;

    width: 80px;

    display: inline;
}

#linkNomeSito {
    text-decoration: none;

    color: black
}

#linkNomeSito:hover {
    text-decoration: none;
}

#btnArticoli {
    margin-left: 25px;
}

#btnProfilo {
    margin-top: -37px;
    margin-right: 50px;
}

#btnProfilo img {
    width: 70px;
    height: 38px;

    transition: all 0.3s;
}

#btnProfilo img:hover {
    width: 72px;
    height: 40px;
}

#inputPsw {
    margin-top: 20px;
}

#scrittaRegister {
    margin-top: 20px;
}

#btnRegister {
    margin-left: 5%;
}

.input {
    margin-top: 20px;
}

#imgMenu {
    width: 30px;
    height: 30px;
}

#imgLogo {
    width: 160px;
    height: 56px;
}

#boxLoginSiz {
    display: flex;
    justify-content: right;
    
    height: 58px;

    margin-top: -58px;
    margin-bottom: 5px;
}

#imgLogin {
    width: 70px;
    height: 38px;

    transition: all 0.2s;
}

#imgLogin:hover {
    width: 72px;
    height: 40px;
}

@media screen and (max-width: 550px) {
    #imgLogo {
        width: 132px;
        height: 46px;
    }

    #imgLogin {
        width: 60px;
        height: 34px;
    }

    #imgLogin:hover {
        width: 62px;
        height: 36px;
    }

    #boxLoginSiz {
        height: 48px;

        margin-top: -48px;
    }
}

@media screen and (max-width: 420px) {
    #imgLogo {
        width: 112px;
        height: 40px;
    }

    #imgLogin {
        width: 47px;
        height: 28px;
    }

    #imgLogin:hover {
        width: 49px;
        height: 30px;
    }

    #boxLoginSiz {
        height: 42px;

        margin-top: -42px;
    }
}


/*          MODAL LOGIN         */

#imgClose {
    width: 20px;
    height: 20px;

    transition: all 0.2s;
}

#imgClose:hover {
    width: 22px;
    height: 22px;
}

.inputEmail {
    width: 100%;
    height: 45px;

    background: none;

    border-radius: 10px;

    outline: none;

    position: relative;
    top: -65px;

    border: none;
}

.scrittaInput {
    opacity: 100%;

    transition: all 0.3s;
}

.dontShow {
    opacity: 0%;
}

.dontShowDisplay {
    opacity: 0%;
}

#backgroundRegistrati {
    width: 100px;

    margin-left: -15px;

    position: relative;
    z-index: 0;

    transition: all 0.3s;
}

#imgRegistrati {
    width: 70px;
    height: 18px;

    position: relative;
    z-index: 0px;

    margin-left: -85.5px;
    margin-top: 2.5px;

    transition: all 0.3s;
}

#btnRegistrati img {
    width: 100px;

    transition: all 0.3s;
}

#btnRegistrati:hover img {
    width: 110px;
}

.btnInvio {
    background: none;

    padding-right: 7px;

    outline: none;

    margin-top: -10px;

    transition: all 0.3s;
}

.btnInvio img {
    width: 60px;

    margin-top: -70px;

    transition: all 0.3s;
}

.btnInvio:hover img {
    width: 63px;
}

.sizeBoxInput {
    height: 48px;

    margin-bottom: 5px;
}

#roitiInformatica {
    color: #3f6493;

    font-size: 10vw;

    font-family: Eina01;
    font-weight: bold;
}

#scrittaSottoRoiti {
    color: #3f6493;

    font-size: 2.2vw;

    margin-bottom: 40px;
    margin-top: 37px;

    font-family: Eina01;
    font-weight: bold;
}

@media screen and (min-width: 830px) {
    #roitiInformatica {
        font-size: 600%;
    }

    #scrittaSottoRoiti {
        font-size: 130%;
    }
}
