#name {
    margin-left: 36.5%;
}

#scritta1 {
    margin-left: 25%;
    margin-top: 20px;
}

#scritta2 {
    margin-left: 4%;
}

#btnHomeArticoli {
    margin-left: 30%;
}

#btnHomeProblemi {
    margin-left: 5%;
}

#btnHomeStudio {
    margin-left: 5%;
}

#btnHomeArticoli, #btnHomeProblemi, #btnHomeStudio {
    margin-top: 100px;
}

.btnPrincipali {
    padding: 10px;
    background: none;

    border-radius: 20px;

    margin-right: 40px;

    transition: all 0.5s;

    border: 1px solid black;
}

.secondiPrincipali {
    padding: 10px;
    background: none;

    border-radius: 20px;

    transition: all 0.5s;
}

#imgArticoli {
    width: 300px;
    height: 320px;
}

#imgProblemi {
    width: 350px;
    height: 250px;
}

#imgStudio {
    width: 300px;
    height: 280px;
}

.btnPrincipali:hover, .secondiPrincipali:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.23); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.23);
}

#btnImgMateriale {
    margin-top: 40px;

    border: "1px solid black";

    padding: "20px";
}

@media screen and (max-width: 1218px) {
    .btnPrincipali2 {
        margin-left: 4%;
    }
}