#pagePost {
    height: 100%;
}

.Post {
    padding: 50px;
}

.title {
    width: 70%;

    font-size: 40px;

    margin-bottom: 20px;

    text-align: center;
}

.text {
    margin-top: 100px;

    font-size: 15px;
}

.btnSave {
    background: none;
}

.headerArticolo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.videoYoutube {
    margin-top: 50px;
    margin-bottom: 50px;
}

#testoArticolo {
    height: auto;
}