.frecciaArticles {
    width: 35px;
    height: 35px;

    transition: all 0.3s;
}

.frecciaArticles:hover {
    width: 37px;
    height: 37px;
}

.linkArticolo {
    display: inline-table;

    width: 300px;
    height: 250px;

    margin: 2%;

    margin-top: 50px;
}